
html {
    scroll-behavior: smooth;
    
  }
  

body {
    font-size: 16px;
    color: #fff;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  } 

  #header-nav {
    background-color: #ffffff;
    height: 60px;
    
  }

  #navbarToggler{
    text-align: center;
  }

  #logo-img{
    background: url('../images/x.png');
    width:210px;
    height: 35px;
    margin: 10px 0px 10px 0px;
    background-size: contain;
    opacity: 0.6;
  }
  #logo-img:hover
  {
    transition: 800ms;
    opacity: 1;
  }

  #nav-list {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
  }
  #nav-list a {
    color: #303030;
    text-align: center;
    font-size: .9em;
    padding: 10px 20px 7px 40px;
    opacity: 0.65;
  }

  #nav-list a:hover {
    transition: 800ms;
    opacity: 1;

  }

  .nav-link::before {
    transition: 800ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #000000;
    width: 0%;
    bottom: 0px;
  }

  .nav-link:hover::before {
    width: 5%;
  }


  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: none;
    color: #bebebe;
    
  }
  .navbar-header button.navbar-toggle {
    margin-top: 20px;
  }

  .navbar-default button.navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0);
  } 
  
  .navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:active {
    margin-top: 10px;
    background-color: #e6e4e6;
    
  }

  #intro {
    background-image: linear-gradient(to top,#ececec, #ffffff);
    font-family: 'Poppins' , sans-serif;
    color: #333333;
    height: 100vh;
    margin: 0px;
    text-align: center;
    padding-top:130px;
    
  }
  #intro h1 {
    margin: 0px;
    padding-top:50px;
    
    font-size: 6vmin;
    font-weight : bold;
    display: block;
    color: #858585;
    
  }

  #intro h2 {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2.8vmin;
    opacity: .5;
    
  }
  #intro h4 {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: lighter;
   
    font-size: 2.5vmin;
    line-height: 1.6em;
    opacity: .8;

  }
  #intro h5{
    
    margin-top: 110px;
    font-size: 1em;
    font-weight: lighter;
    color:#c4c4c4;
  }
  #intro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
  }
  #intro a:hover {
    text-decoration: none;
    display: inline-block;
  }
 

 /* SCROLL OPTION */

  #scroll a {
    padding-top: 60px;
  }
  #scroll a span {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    box-sizing: border-box;
    
    
  }

  #scroll a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    transform: rotateZ(-45deg);
    box-sizing: border-box;
  }

  #scroll a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    animation: sdb03 2s infinite;
    box-sizing: border-box;
  }

  #scroll a span:hover{
    transform: rotateZ(360deg) scale(1.2);
    transition: .3s ease-in-out;
   
  }

  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.164);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  

#heading{
  text-align: center;
  color: #303030;
  padding-top: 80px;
  font-size: 4vmin;
  font-weight: 600;

}


/* ---SCROLL OPTION --- */
  
#scroll-aim{
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  color: rgb(80, 80, 80);
  border: none;
  
}

#scroll-aim h1{
  margin-bottom: 100px;
  margin-top: 45px;
  font-size: 2.2em;
  
  color: #a5a5a5;
  font-weight: medium;
}

#scroll-aim h2{
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 1.8em;
  
  color: #2e2e2e;
  font-weight: bold;
}
#scroll-aim h3{
  
  margin-bottom: 15px;
  font-size: 1.1em;
  color: rgb(148, 148, 148);
}

#scroll-aim h6{
  
  margin-bottom: 5px;
  font-size: 0.8em;
  color: rgb(110, 110, 110);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#scroll-aim p{
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
  color: #797979;
  margin-top: 20px;
}

.card{
  height:50vh;
  padding: 50px;
}

#case{
  width:100%;
  height:auto;
}


.image-wrapper{
  overflow: hidden;
  position:relative;
 border-radius: 5px;
 margin-bottom: 30px;

}

.image-wrapper img{
  transform: scale(1);
	transition: .3s ease-in-out;
  
}

.image-wrapper :hover img{
  transform: scale(1.14);
}

#button-read{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 0px;
  
}

#button-read:hover{
  background-color:rgb(0, 0, 0);
  border-color:rgb(0, 0, 0); ;
}

#project-section{
  margin: 120px 0px 50px 0px;
  
}

#project-section h1{
  text-align: center;
  margin-bottom: 80px;
  color: #383838;
  font-family: 'Poppins' , sans-serif;
  
}

#project-card{
  margin: 30px 10px 70px 10px ;
  padding:0px;
  height: max-content;
  font-family: 'Poppins' , sans-serif;
  border: none;
  box-shadow: 0 10px 16px 0 rgba(134, 134, 134, 0.219), 0 6px 20px 0 rgba(226, 226, 226, 0.19);
  transform: scale(1);
  transition: .1s ease-in-out;
}

#project-card p{
  font-size: 0.9rem;
  padding :0px 5px 10px 5px;
  color: #757575;
}

#project-card:hover{
  transform: scale(1.03);
}

#project-card h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 15px;
  padding :0px 5px 0px 5px;
  color: #000000;
}

#project-card h5{
  color: #868686;
  font-size: 0.85rem;
  padding : 10px;
  padding :0px 5px 0px 5px;
}

#cardblock{
  height:50vh;
  margin: 50px 20px 50px 20px;
  padding: 0px;
  background-color:rgb(218, 218, 218);
}
  
#card-small{
  background-color: rgb(223, 223, 223); 
  height: 100%;
  
}

#top-img{
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  font-weight:600;
  padding: 0.6vw 1.8vw;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(134, 134, 134, 0.219), 0 6px 20px 0 rgba(226, 226, 226, 0.19);
}

#top-img:hover{
background-color: rgba(0, 0, 0, 0.623);
color:rgb(255, 255, 255);
transition: .2s ease-in-out;

}
#low-img{
  left: 50%;
 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  justify-self: center;
  font-size: 20px;
  font-weight:bold;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(187, 187, 187, 0.2), 0 6px 20px 0 rgba(226, 226, 226, 0.19);
  border: 2px solid rgb(0, 0, 0);
}

#low-img:hover{
background-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
transition: .2s ease-in-out;
}

main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

#project-content{
  padding-top: 120px; 
  margin:0px;
  box-shadow: -10px 0 10px -10px #333, 
  10px 0 10px -10px #333;
}

#project-content section{
  margin: 0px 120px 10px 120px;
  scroll-margin-top: 7rem;

}

#cover-img{
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(224, 224, 224, 0.356), 0 5px 7px 0 rgba(192, 192, 192, 0.253);
}


.section-nav li.active > a {
  color: rgb(37, 37, 37);
  font-weight: 600;
}


.section-nav {
  height: 100vh;
  background-color: #f1f1f1;
}

.section-nav a {
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  padding: .2rem 0;
  color: rgb(134, 134, 134);
  transition: all 50ms ease-in-out; 
}

.section-nav a:hover,
.section-nav a:focus {
  color: rgb(71, 71, 71);
}

.list-nav{
  list-style: none;
  padding-left:0.4rem;
  margin-left: 20px;
  
}

.list-nav li {
  margin-left: 0rem;
}

.list-content{
  padding-left: 15px;
  text-align: justify;
  text-justify: inter-word;
  
}

.list-content li{
  padding: 0px 0px 15px 0px;
  margin: 0px;
  font-family: 'Lora', serif;
  font-size:1.15vw;
}

main {
  display: grid;
  grid-template-columns: 4fr 15fr 4fr;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  font-family: 'Karla', sans-serif;

}

main h1{
  font-size: 2.6vw;
  padding-bottom: 20px;
  font-weight: bolder;
}

main h2{
  font-size: 2.4vw;
  font-weight: 600;
  padding-bottom: 0px;
  margin-top:80px;
  color:  rgb(0, 0, 0);
}

main h3{
  font-size: 1.8vw;
  font-weight: 600;
  padding-top: 50px;
}

main h4{
  font-size: 1.5vw;
  font-weight: 600;
  padding-top: 10px;
}

main p{
  font-size:1.15vw;
  font-family: 'Lora', serif;
  text-align: justify;
  text-justify: inter-word;
  line-height: 32px;
  padding-bottom: 0px;
}

.box-text{
  padding: 30px;
  
  background-color: #a88be4;
  border-radius: 20px;
  font-family: 'Karla',sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
}

.bold-text{
  padding:30px;
  font-family: 'Karla',sans-serif;
  font-weight: 600;
}


nav{
  padding-top: 60px;
  
}

@media (max-width: 1300px){

  #project-content section{
    margin: 100px 100px 0px 100px; 
  }

  main{
    grid-template-columns: 6fr 17fr 0fr;

  }

  main h1{
    font-size: 3vw;
  }  

  main p{
    font-size: 1.4vw;
  }

  .list-content{
    font-size: 1.4vw;
  }

  main h2{
    font-size: 2.5vw;
    padding-top: 30px;
  }

  main h3{
    font-size: 2vw;
    padding-top: 10px;
  }

  main h4{
    font-size: 1.8vw;
  }

  .section-nav a{
    font-size: 1rem;
  }

}

@media (max-width: 991px){
  
  #project-content section{
    margin: 100px 50px 0px 50px; 
  }

  main{
    grid-template-columns: 6fr 17fr 0fr;
  }

  main h1{
    font-size: 3.4vw;
  } 

  main p{
    font-size: 1.8vw;
    line-height: 28px;
  }

  .list-content{
    font-size: 1.8vw;
  }

  main h2{
    font-size: 2.8vw;
  }

  main h3{
    font-size: 2.2vw;
  }

  main h4{
    font-size: 2vw;
  }

  .section-nav a{
    font-size: 0.9rem;
  }

}

@media (max-width: 720px){
  
  #project-content section{
    margin: 80px 40px 0px 40px; 
  }

  main{
    grid-template-columns: 7fr 16fr 0fr;
  }

  main h1{
    font-size: 3.6vw;
  } 

  main p{
    font-size: 1.9vw;
    line-height: 28px;
  }

  main h2{
    font-size: 3vw;
  }

  main h3{
    font-size: 2.4vw;
  }

  main h4{
    font-size: 2.2vw;
  }

  .list-content{
    font-size: 1.9vw;
  }

  .section-nav a{
    font-size: 0.85rem;
  }
}

@media (max-width: 650px){

  #project-content {
    padding-top: 40px; 
  }
  
  #project-content section{
    margin: 50px 30px 0px 30px; 
  }


  .list-nav{
    display: none;
  }

  main{
    grid-template-columns: 0% 4fr 0%;
  }

  main h1{
    font-size: 30px;
  }

  main p{
    font-size: 14px;
    line-height: 28px;
  }

  .list-content{
    font-size: 14px;
  }

  main h2{
    font-size: 26px;
    padding: 0px;
  }

  main h3{
    font-size: 20px;
    padding-top: 0px;
  }

  main h4{
    font-size: 18px;
  }

}


footer.panel-footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgb(0, 0, 0);
  color:white;
  
}

 #say-Hello{
   width:80%;
   margin-left: 10%;
   margin-bottom: 30px;
 }

 #say-Hello h2{
   font-family: 'Poppins',sans-serif;
   font-weight: bold;
   margin-top :10px;
 }

 #say-Hello p{
  font-family: 'Poppins',sans-serif;
}

#say-Hello a{
  color: rgb(221, 221, 221);
}

#say-Hello a:hover{
  color: rgb(255, 255, 255);
}

#links h2{
 font-family: 'Poppins',sans-serif;
 font-size: 1.2em;
 margin-bottom: 15px;
 margin-top: 20px;
 margin-left: 10%;
}

#social ul {
  padding-left: 0px;
  margin-left: 8%;
}

#social li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

.fa.fa-facebook, .fa.fa-twitter, .fa.fa-dribbble ,.fa.fa-instagram , .fa.fa-linkedin {
  font-size: 17px;
}

.border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 80px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.behance .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.instagram .border:hover {
  background: #ea4c89;
  border-color: #ff78ac;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}


.github .border:hover {
  background: #1fc45e;
  border-color: #1d9e53;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.linkedin .border:hover {
  background:  #0072b1;
  border-color: #3342c7;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

#social ul li {
  transition: ease .3s;
}

