<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=OpenSans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta property="og:image" content="images/Preview.png">
    <script src="../scripts/script.js"></script>

    <title>Ashish Bungla</title>
    <link rel="icon" href="../images/logo-title-01.png" type="image/icon type"  >
</head>

    <body>
          <!-- Header -->
          <header>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header-nav" >
                <div class="container" >
                  <a href="../index.html">
                      <div id="logo-img"></div>
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end " id="navbarToggler" style="background-color: rgba(255, 255, 255, 0.658); ">
                    <ul class="navbar-nav mb-1 mb-lg-0" id="nav-list">
                      <li>
                        <a class="nav-link"  data-hover="About Me"  style="color: #4da3e9; opacity: 1; ">About Me</a>
                      </li>
                      <li >
                        <a class="nav-link" href="project1.html" data-hover="Projects">Projects</a>
                      </li>
                      <li >
                        <a class="nav-link" href="#" data-hover="Contact">Contact Me </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <!-- Header Ends -->
        <div class="container" style="padding-top:120px;">
          <div class="row justify-content-evenly">
            <div class="col-12 col-md-4">
              <div class="image-wrapper">
                <img src="../images/z.jpg" style="width:100%;">
              </div>
            
            </div>
            <div class="col-12 col-md-5" style=" margin-bottom: 15px; padding-top: 60px;">
              <h1 style="color:rgb(0, 0, 0); margin-bottom: 30px;font-family: 'Poppins' , sans-serif;">Hi! I am Ashish Bungla </h1>
              <p style="font-size: 1.1rem; text-align: justify;
              text-justify: inter-word; color:rgb(104, 104, 104)";>
                I am a self-taught product designer with keen interest in Visual and Interaction Design. As an designer, i emphasis on functionality and user experience.
                I try to minimise user's efforts while keeping it simple and intuitive. 
                <br><br>
                Currently, i am pursuing my bachelor's in Architecture from IIT Roorkee. 


              </p>
              
            </div>

          </div>

        </div>
        
        <footer class="panel-footer" style="margin-top:100px;" id="footer">
          <div class ="container">
            <div class="row">
              <div class="col-12 col-md-6">
                <div id="say-Hello">
                  <h2>Say Hello !</h2>
                  <p>I am available for freelance projects. Do get in touch !</p>
                  <a href = "mailto:abungla18@gmail.com">abungla18@gmail.com</a>

                </div>
              </div>
              <div class ="col-12 col-md-6">
                <div id="links">
                  <h2>Meet me here</h2>
                  
                  <div id="social">
                    <ul>
                      <li class="facebook">
                        <a href="https://www.facebook.com/ashish.bungla/" target="_blank">
                        <button class="border"><i class="fa fa-facebook"></i></button>
                        </a>
                      </li>
                  
                      <li class="github">
                        <a href="https://github.com/AshishBungla" target="_blank">
                        <button class="border"><i class="fa fa-github "></i></button>
                        </a>
                      </li>
                  
                      <li class="instagram">
                        <a href="https://www.instagram.com/ashishbungla/" target="_blank">
                        <button class="border"><i class="fa fa-instagram"></i></button>
                        </a>
                      </li>
                      
                      <li class="behance">
                        <a href="https://www.behance.net/abungla" target="_blank">
                        <button class="border"><i class="fa fa-behance"></i></button>
                        </a>
                      </li>

                      <li class="linkedin">
                        <a href="https://www.linkedin.com/in/ashish-bungla-aa4ab7185/" target="_blank">
                        <button class="border"><i class="fa fa-linkedin"></i></button>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
            <div class="text-center" style="  color: #e2e2e2; font-family: 'Poppins',sans-serif; font-size: .9em;">
              Handcrafted with ♥</div>
          </div>
        </footer>
    </body>
</html>