<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href='https://fonts.googleapis.com/css?family=OpenSans' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora">

      <link rel="stylesheet" href="../css/style.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="../scripts/script.js"></script>
      

        <title>Ashish Bungla</title>
        <link rel="icon" href="../images/logo-title-01.png" type="image/icon type"  >
    </head>

    <body >
      
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header-nav" >
                <div class="container" >
                  <a href="../index.html">
                      <div id="logo-img"></div>
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end " id="navbarToggler" >
                    <ul class="navbar-nav mb-1 mb-lg-0" id="nav-list">
                      <li >
                        <a class="nav-link" href="../views/about.html"data-hover="About Me" >About Me</a>
                      </li>
                      <li >
                        <a class="nav-link"  href="../views/project1.html" data-hover="Projects" >Projects</a>
                      </li>
                      <li >
                        <a class="nav-link" href="#footer" data-hover="Contact">Contact Me </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        
        <!-- Header Ends  -->

        <div class="container-fluid" style="padding: 0px; ">

            
          <div class="row justify-content-center" style="background-image: linear-gradient(to top,#f1f1f1  0%, #f1f1f1 35%, #ffffff 35%, #ffffff 100%); margin: 0px; padding: 0px;">
              <div class="col-12 col-sm-8" style="padding-top: 120px; padding-bottom: 80px;">
                  <img src="../images/t0.png"  id="cover-img" >
                  <a href="#project-content">
                    <button class="btn " id="top-img">
                    Check Out</button>
                  </a>
              </div>
          </div>
         </div>
             
            <main>
                <nav class="section-nav">
                  <ol class="list-nav">
                    
                    <li style="margin-bottom: 5px;"><a href="#h2">Overview</a>
                      <ul>
                        <li><a href="#h2-1">Introduction</a></li>
                        <li><a href="#h2-2">Problem Statement</a></li>
                        <li><a href="#h2-3">Problem Timeline</a></li>
                        
                      </ul>
                    </li>

                    <li style="margin-bottom: 5px;"><a href="#h3">User Research</a>
                      <uL>
                        <li><a href="#h3-1">Primary Research</a></li>
                        <li><a href="#h3-2">Competitive Analysis</a></li>
                        <li><a href="#h3-3">User Stories </a></li>
                      </uL>
                    </li>  

                    <li style="margin-bottom: 5px;"><a href="#h4">Ideation</a>
                      <uL>
                        <li><a href="#h4-1">Design Concept</a></li>
                        <li><a href="#h4-2">Key Ideas</a></li>
                        <li><a href="#h4-3">Storyboarding</a></li>
                        <li><a href="#h4-4">Working </a></li>
                        <li><a href="#h4-5">Revenue Model </a></li>
                      </uL>
                    </li>  

                    <li style="margin-bottom: 5px;"><a href="#h5">Final Design</a>
                      <uL>
                        <li><a href="#h5-1">Final Screens</a></li>
                        <li><a href="#h5-2">Limitations</a></li>
                        <li><a href="#h5-3">Conclusion</a></li>
            
                      </uL>
                    </li>  

                  </ol>
                </nav>
                
              <div id="project-content" >

                <section id="h1">
                  <h1>Microsoft Design Challenge 2020 </h1>
                    <p >
                      The project aims to create a free learning community that focuses on learning through knowledge sharing among its members and providing new interaction opportunities and promote senior-peer learning.
                    </p>
                </section>

                
                <section id="h2">
                  <h2>Overview</h2>
                </section>

                <section id="h2-1">
                  <h3 style="padding-top:20px;">Introduction</h3>
                  <p>
                    This project was a submission for a competition called Microsoft Design Challenge 2020. The competition aims to find digital solutions to problems in the field of learning, health and transportation in the context of the Covid-19 Pandemic.
                    <br><br>
                    For the competition, I have chosen Education & Learning as the theme. 
                  </p>
                </section>

                
                <section id="h2-2">
                  <h3>Problem Statement</h3>
                  <p>
                    Most of the platform that gives free learning content(Youtube, Facebook) has many distractions while studying. The reason is simple because they are not created for learning purposes. Other platforms that allow good learning content are mostly paid and hence not accessible by everyone
                  <br><br>
                  </p>
                  <p class="box-text">
                    There is a need for learning platforms that are freely accessible, allow diverse learning content without any distractions. These platforms also need to consider socialising issues that students face in the current pandemic scenario.
                  
                  </p>
                </section>
              
                <section id="h2-3">
                  <h3>Problem Timeline</h3>
                </section>
                  <img src="../images/t1.svg" style = "width: 100%;padding-bottom: 20px; " >
                
                  <section>
                  <h3>Target Audience</h3>
                  <p>
                    The target group for this platform are students from class 9th standard and above who want to learn online regarding any topic, chapter or field without any substantial subscription charge. 
                  </p>
                </section>
                

                <section id="h3">
                
                  <h2>User Research</h2>

                </section>

                <section id="h3-1">

                  <h3  style="padding-top:20px;">Primary Research</h3>
                  <p>
                  This research includes a survey of 100 students residing in different cities and age groups to understand their online learning perspective. The questionnaire was designed to understand the current online learning platforms and preferences of students .  
                  </p>
  
                  <br>
                  <h4>Questionnaire</h4><p>
                    <ul class="list-content" >
                      <li>
                        What is the average time per day that you spend on screen excluding your online classes? 
                      </li>
  
                      <li>
                        The average time per day that you spend on screen for learning something excluding online classes?
                      </li>
                      
                      <li>
                      If you want to learn something online(chapter/concept), how will you arrange the following learning media in your preference?  
                            (Teachers, Seniors/Peers, Free learning Platforms, Paid Education Platforms)
                      </li>
  
                      <li>
                      If you need help in learning online or doubts, how will you arrange the following learning media in your preference?
                            (Teachers, Seniors/Peers, Free learning Platforms, Paid Education Platforms)
                      </li>
  
                      <li>
                      What are the problems they face during online classes?
                      </li>
  
                      <li>
                      Do they face hesitation when asking doubts from teachers ?
                      </li>
  
                      <li>
                      How much money they can spend on online learning platform in a month?
                      </li>
                      
                      <li>
                      Do you think you can teach any chapter or concept to your junior students ?
                      </li>
  
                    </ul>
                  </p>
            
                  <h4>Key Insights</h4>
                  <p>
                    <img src="../images/t2.svg" style = "width: 100%;padding-bottom: 20px; " >

                    <ol class="list-content">
                      <li>
                        Students preferred free learning platforms (generally youtube) more than their teachers due to more diverse learning options.
                      </li>

                      <li>When they need to understand doubts or concept, they preferred their peers and seniors rather than teachers.

                      </li>

                      <li>Unless needed professional certificates, students choose free platforms rather than paid educational apps.

                      </li>

                      <li>Many students feel judged while asking doubts from teachers hence prefers their peers/seniors.
                      </li>

                      <li>Learning is limited to academics from teachers and paid educational platforms, Free platform like youtube provide a large variety to learn online.

                      </li>

                    </ol>
                    <img src="../images/t3.svg" style = "width: 100%;padding-bottom: 20px; " >

                  </p>

                </section>

                
                <section id="h3-2">
                  <h3>Competitive Analysis</h3>
                  <p>
                    At present, there are many online learning platforms but most of them are paid and charge substantial charge. Some are free but they are not designed exactly for learning purposes. The table shows clear comparison among existing platforms :
                  </p>
                  <img src="../images/t5.svg" style = "width: 100%; " >
                </section>

                <section id="h3-3">
                  <h3>User Stories</h3>
                  <p>
                    I extracted two major user stories from my primary research and highlighted ther frustations and desires.
                  </p>
                </section>
                <img src="../images/t4.png" style = "width: 100%;padding: 20px 0px 20px 0px; " >

                <section>
                
                <h4>User Needs Identified</h4>
                <p>
                  The student needs a learning environment with
                </p>

                <ul class="list-content">
                  <li>
                    Reduced Distraction i.e an education-focused platform, unlike Youtube/Facebook.
                  </li>

                  <li>Easy accessibility and availability of teachers and Classes.

                  </li>

                  <li>Different Options for learning and clarifying doubts.

                  </li>

                  <li>Good possibilities of social interaction that can enhance peer learning.
                  </li>

                  <li>Option to learn dance, music or other art rather than just academics.
                  </li>

                </ul>
              </section>





                
                <section id="h4">
                
                  <h2>Ideation</h2>

                </section>

                <section id="h4-1">
                  <h3>Design Concept</h3>
                  <p>      
                    The idea is to create a self suistaining education community. It is inspired from the concept of Time Banking. <i>Time Banking</i> is a system of bartering various services to one another using time spent as a unit of account.
                  </p>
                  <br>
                  
                  <p class="box-text">
                      Here, we are considering knowledge as a coummunity resource which can be shared between its members. 
                  </p>
                  <br>

                  <img src="../images/t6.png" style = "width: 100%; " >
                  
                  <br>
                  <br>
                  <br>
                  <p class="bold-text">
                    
                    The member sharing his/her knowledge in the form of class will get credits in return which he/she can use either gaining knowledge from community or after reaching a threshold can convert into real money.
                    
                  </p>
                  
                </section>

                <section id="h4-2">
                  <h3>Key Ideas</h3>

                     <img src="../images/t7.svg" style = "width: 100%; padding-top: 20px;" >

                </section>

                <section id="h4-3">
                  <h3>Storyboarding</h3>
                </section>
                <img src="../images/t8.svg" style = "width: 100%; padding-top: 20px;" >



                
                <section id="h4-4">
                  <h3>Working</h3>
                  <p>
                    When a member wishes to learn something, he/she can enroll in an upcoming class but if there is no such class on the platform, the user can post a request for that particular topic.
                  </p>
                  <img src="../images/t9.png" style = "width: 100%; padding-top: 20px;" >
                  <br>
                  
                  <br>
                  <p class="bold-text">
                    
                    The user can also vote a related request to increase the chances of it being taken up by a suitable member as a tutor. The requests posted will remain for a fixed period of time after which the user will be notified that his request has not been accepted at the moment.
                    
                  </p>
                  <br>
                  
                  <h4>Approved Class Request</h4>
                  <p>
                    Once a user(tutor) approves a request, the class request will automatically be posted on class schedule feed and all the students who have voted for request will be enrolled for that class.
                  </p>

                  <h4>Classes or Courses Approval (for tutors)</h4>
                  <p>
                    User as a tutor can post a Class for any topic or even design a course for students. But educational courses first need to be first verified by community and then allowed for teaching.
                  </p>
                  <br>
                  <br>
                  <h4>Application Flow</h4>
                </section>
                <img src="../images/t10.png" style = "width: 100%; padding: 20px 0px 20px 0px;" >


                <section id="h4-5">
                  <h3>
                    Revenue Model
                  </h3>
                  <br>

                  <h4>Subscription Fee</h4>
                  <p>Most part of the community will be freely accessible, the subsription will only be required for exclusive classes organised by community.  The subcription will benefit users for accessing one on one classes, exclusive online sessions/lectures etc.
                  </p>
                  <img src="../images/t11.png" style = "width: 100%;padding: 20px 0px 20px 0px;" >

                  <h4>Donation Tips</h4>
                  <p>Members can donate money to teachers for any class they like. Some percentage of that money is will be sent off to community.

                  </p>

                  <h4>Earning Credits</h4>
                  <p>Members can earn credits by hosting classes and by active participation on Discussion Forum. This credits at one point can be extracted in real money by its members.

                  </p>

                  <h4>Badges</h4>
                  <p>Members will be provided with badges that will also be determined by  number of classes hosted and students feedback. Badges will act as a sign of credibility and authenticity of that member.
                    After earning certain Badges, user classes will become exclusive and thus get paid for classes.

                  </p>
                </section>

                <section id="h5">
                  <h2>Final Design </h2>
                </section>

                <section id="h5-1">
                  <h3>Final Screens</h3>
                </section>
                <img src="../images/t14.png" style = "width: 100%;padding: 20px 0px 20px 0px;" >

                <p>
                  </p>


                

              </div>

              <div class="blankregion" style="background-color: #f1f1f1">
              </div>
            </main>
            

        <footer class="panel-footer" id="footer" style="margin-top: 0px;">
            <div class ="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="say-Hello">
                    <h2>Say Hello !</h2>
                    <p>I am available for freelance projects. Do get in touch !</p>
                    <a href = "mailto:abungla18@gmail.com">abungla18@gmail.com</a>
  
                  </div>
                </div>
                <div class ="col-12 col-md-6">
                  <div id="links">
                    <h2>Meet me here</h2>
                    <div id="social">
                      <ul>
                        <li class="facebook">
                          <a href="https://www.facebook.com/ashish.bungla/" target="_blank">
                          <button class="border"><i class="fa fa-facebook"></i></button>
                          </a>
                        </li>
                    
                        <li class="github">
                          <a href="https://github.com/AshishBungla" target="_blank">
                          <button class="border"><i class="fa fa-github "></i></button>
                          </a>
                        </li>
                    
                        <li class="instagram">
                          <a href="https://www.instagram.com/ashishbungla/" target="_blank">
                          <button class="border"><i class="fa fa-instagram"></i></button>
                          </a>
                        </li>
                        
                        <li class="behance">
                          <a href="https://www.behance.net/abungla" target="_blank">
                          <button class="border"><i class="fa fa-behance"></i></button>
                          </a>
                        </li>
  
                        <li class="linkedin">
                          <a href="https://www.linkedin.com/in/ashish-bungla-aa4ab7185/" target="_blank">
                          <button class="border"><i class="fa fa-linkedin"></i></button>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
                <div class="text-center" style="  color: #e2e2e2; font-family: 'Poppins',sans-serif; font-size: .9em;">
                  Handcrafted with ♥</div>
    
              </div>
            </footer>
      </body>
  </html>